@CHARSET "UTF-8";

.spot_banner
{
    
}
.spot_banner > div
{
    height: 400px;
}
.spot_banner .slider
{
    position:relative;
    overflow:hidden;
    width: 610px;
    height:300px;
}
.spot_banner .slider .items {
    width:20000em;
    position:absolute;
}
.spot_banner .slider .items a {
    float:left;
    display: block;
    padding: 0px; margin: 0px;
}
.spot_banner .slider .items a img {
    display: block;
    height: 280px;
    width: 610px;
}
.spot_banner .slider .nav_placer {
    margin-top: 285px;
    width:auto;
    text-align: center;
}
.spot_banner .slider .navi {
    width:auto;
    height:8px;
    display: block;
    line-height: 8px;
}
.spot_banner .slider .navi a {
    width:8px;
    height:8px;
    margin:0px 5px;
    background: url(/images/layout/bg-carouselControl.png) 0 0 no-repeat;
    display:inline-block;
    font-size:1px;
    cursor: pointer;
}
.spot_banner .slider .navi a:hover {
    background-position:0 -8px;      
}
.spot_banner .slider .navi a.active {
    background-position:0 -16px;     
}
.spot_banner h2
{
    margin: 5px 0px;
    padding: 0px;
}
.spot_banner h2 > a
{
    font-family: georgia, arial, verdana;
    font-size: 32px;
    font-weight: normal;
    line-height: 34px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
}
.spot_banner h2 > a:hover
{
    text-decoration: underline;
}
.spot_banner p, .spot_banner a.readmore
{
    font-family: georgia, arial, verdana;
    font-size: 17px;
    font-weight: normal;
    line-height: 24px;
    color: #333;
}
.spot_banner a.readmore
{
    color: #039;
    margin-left: 5px;
}
.spot_banner a.readmore:hover
{
    text-decoration: underline;
}
.spot_banner .panes > div {
    height:95px;
    margin-bottom: 10px;
}

.spot_pubs
{
}
.spot_pubs .item
{
    clear: both;
    margin: 0px 0px 15px;
    width: 610px;
    min-height:84px;
    height:auto;
}
.spot_pubs .item:first-child
{
    min-height:164px;
    height: auto;
    border-bottom: solid 3px #ddd;
    margin-bottom: 20px;
}
.spot_pubs .item:last-child
{
    margin-bottom: 0px;
}
.spot_pubs .item img
{
    width: 150px;
    float: left;
    margin: 0px 10px 10px 0px;
}
.spot_pubs .item:first-child img
{
    width: 250px;
    margin-right: 15px;
}
.spot_pubs .item h2
{
    margin-top: 10px;
    margin-bottom: 6px;
    padding: 0px;
}
.spot_pubs .item h2 > a
{
    font-family: georgia, arial, verdana;
    font-size: 20px;
    font-weight: normal;
    line-height: 25px;
    color: #333;
    overflow: hidden;
    white-space: nowrap;
}
.spot_pubs .item:first-child h2 > a
{
    font-size: 30px;
    line-height: 33px;
    white-space: normal;
}
.spot_pubs .item h2 > a:hover
{
    text-decoration: underline;
}
.spot_pubs p, .spot_pubs a.readmore
{
    font-family: georgia, arial, verdana;
    font-size: 13px;
    font-weight: normal;
    line-height: 24px;
    color: #333;
}
.spot_pubs a.readmore
{
    color: #039;
    margin-left: 5px;
}
.spot_pubs a.readmore:hover
{
    text-decoration: underline;
}
._other_pubs
{
}
._other_pubs .item
{
    clear: both;
    margin: 0px 0px 10px;
    width: 610px;
    min-height:50px;
    height:auto;
    border-bottom: dotted 1px #ccc;
}
._other_pubs .item:last-child
{
    margin-bottom: 0px;
}
._other_pubs .item img
{
    height: 40px;
    max-width: 70px;
    float: right;
    margin: 0px 10px 5px 0px;
}
._other_pubs .item h2
{
    margin-top: 5px;
    margin-bottom: 6px;
    padding: 0px;
}
._other_pubs .item h2 > a
{
    font-family: georgia, arial, verdana;
    font-size: 13px;
    font-weight: bold;
    line-height: 15px;
    color: #039;
    overflow: hidden;
    white-space: nowrap;
}
._other_pubs .item h2 > a:hover
{
    text-decoration: underline;
}
._other_pubs p
{
    font-family: tahoma;
    font-size: 11px;
    font-weight: normal;
    line-height: 16px;
    color: #333;
}
._other_pubs a.readmore
{
    color: #039;
    margin-left: 5px;
}
._other_pubs a.readmore:hover
{
    text-decoration: underline;
}
.authors_block > ul
{
    
}

.vertical_pubs,
.vertical_pubs > li > ul
{
    margin: 0px;
    padding: 0px;
}
.vertical_pubs > li
{
    display: inline-block;
    width: 145px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 0px;
    vertical-align: top;
}
.vertical_pubs > li:last-child
{
    margin-right: 0px;
}
.vertical_pubs > li > h4 > a
{
    margin: 0px;
    font: bold 18px arial;
    color: #174f82;
}
.vertical_pubs > li > h4
{
    height: 3em;   
    border-bottom: none;
}
.vertical_pubs > li li img
{
    width: 145px;
    height: 82px;
    margin-bottom: 4px;
}
.vertical_pubs > li li
{
    display: block;
    padding: 5px 0px;
    margin: 0px;
    border-bottom: solid 1px #eee;
    font: normal 13px arial, sans-serif;
    color: #505050;
}
.vertical_pubs > li li a
{
    font: bold 13px arial, sans-serif;
    color: #174f82;
    display: block;
}
.vertical_pubs > li li p
{
    font: normal 13px arial, sans-serif;
    color: #505050;
    margin: 4px 0px 0px;
    padding: 0px;
}
.col_authors dl
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    float: left;
}
.col_authors dl dt
{
    width: 65px;
    margin: 0px 10px 15px 0px;
    padding: 0px;
    float: left;
    clear: both;
    display: block;
}
.col_authors dl dt a
{
    display: block;
}
.col_authors dl dt img
{
    width: 60px;
    max-width: 60px;
    display: block;
    padding: 3px;
    border: solid 1px #e5e5e5;
    margin-top: -3px;
}
.col_authors dl dd
{
    width: 217px;
    margin: 0px 0px 15px 0px;
    padding: 0px;
    float: left;
}
.col_authors dl dd .author-name
{
    font-family: georgia, arial, verdana;
    font-size: 11px;
    line-height: 15px;
    font-weight: normal;
    color: #999;
}
.col_authors dl dd .author-name a, .fgeorgia
{
    font-family: georgia, arial, verdana;
    font-size: 12px;
    line-height: 16px;
    font-weight: normal;
    color: #333;
    margin-bottom: 2px;
    display: block;
}
.col_authors dl dd > a
{
    font-family: georgia, arial, verdana;
    font-size: 13px;
    font-weight: normal;
    color: #039;
    margin-bottom: 2px;
    display: block;
}
.col_authors.pubs dl dt { width: 75px; }
.col_authors.pubs dl dt img { width: 70px; max-width: 70px; }
.col_authors.pubs dl dd { width: 207px; }

.pub_boxes,
.pub_boxes > li > ul
{
    margin: 0px;
    padding: 0px;
}
.pub_boxes > li
{
    display: inline-block;
    width: 300px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    vertical-align: top;
}
.pub_boxes > li:nth-child(even)
{
    margin-right: 0px;
}
.pub_boxes > li > h4 > a
{
    margin: 0px;
    font: bold 18px arial;
    color: #444;
}
.pub_boxes > li > h4
{
    height: 1.5em;
    border-bottom: solid 2px #ddd;
}
.pub_boxes > li li img
{
    width: 145px;
    height: 82px;
    margin-bottom: 4px;
}
.pub_boxes > li li
{
    display: block;
    padding: 5px 5px;
    margin: 0px;
    border-bottom: solid 1px #eee;
    font: normal 13px arial, sans-serif;
    color: #505050;
}
.pub_boxes > li li:last-child
{
    border-bottom: none;
}
.pub_boxes > li li a
{
    font: normal 13px arial, sans-serif;
    color: #174f82;
    display: block;
}
.pub_boxes > li li p
{
    font: normal 13px arial, sans-serif;
    color: #505050;
    margin: 4px 0px 0px;
    padding: 0px;
}

.categories
{
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
    margin-left: 20px;
    padding: 0px;
}
.categories > li > ul
{
    margin: 0px;
    padding: 0px;
}
.categories > li
{
    display: inline-block;
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 0px;
    vertical-align: top;
}
.categories > li:last-child
{
    margin-right: 0px;
}
.categories > li > strong > a
{
    font: bold 12px arial;
    color: #444;
}
.categories > li > h4
{
    height: 1em;
    border-bottom: none;
}
.categories > li li
{
    display: block;
    padding: 3px 5px;
    margin: 0px;
    font: normal 11px tahoma;
    color: #505050;
}
.categories > li li:last-child
{
}
.categories > li li a
{
    font: normal 11px arial, sans-serif;
    color: #174f82;
    display: block;
}

.pub-title
{
    font-family: georgia, arial, verdana;
    font-size: 29px;
    font-weight: normal;
    line-height: 30px;
    padding: 10px 0px;
}
.headline_meta
{
    margin-bottom: 10px;
}
.headline_meta abbr
{
    font-family: tahoma;
    font-size: 11px;
    color: #888;
    text-transform: uppercase;
    margin-right: 10px;
}
.headline_meta .author, .headline_meta .category
{
    font-family: tahoma;
    font-size: 11px;
    color: #333;
    text-transform: uppercase;
}
.headline_meta .author a, .headline_meta .category a
{
    font-family: tahoma;
    font-size: 11px;
    color: #08C;
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 10px;
}

.pub-content
{
    
}
.pub-content a
{
    font: inherit !important;
}
.pub-content img
{
}
hr.split
{
    background: url(/images/layout/background/hr-pattern.png) -10px;
    height: 20px;
    opacity: .2;
    margin: 8px 3px;
    clear: both;
}
hr.split-line
{
    background: url(/images/layout/background/hr-pattern-line.png);
    height: 16px;
    opacity: .5;
    margin: 8px 3px;
    clear: both;
    border: none;
}

.market_ticker
{
    
}
.market_ticker > div
{
    height: 145px;
}

.market_ticker h3 a.world 
{
    font: bold 12px arial;
    color: #004276;
}

.market_ticker.currency h3 a.world 
{
 font: bold 12px arial;
 color: #8c8c8c;
}

.market_ticker h3 a.currency 
{
 font: bold 12px arial;
 color: #8c8c8c;
}

.market_ticker.currency h3 a.currency 
{
    font: bold 12px arial;
    color: #004276;
}

table.finance_ticker
{
    width: 100%;
    margin: 0px;
    padding: 0px;
}
table.finance_ticker th
{
    padding: 0px 4px;
    margin: 0px 0px 2px;
    font-family: arial, helvetica, sans-serif;
    font-size: 10px;
    font-weight: normal;
    color: #333;
    border-bottom: solid 1px #ddd;
    text-align: right;
}
table.finance_ticker td
{
    padding: 2px 4px;
    margin: 0px;
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: #333;
    border-bottom: solid 1px #eee;
    text-align: right;
}
table.finance_ticker td.symbol
{
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #333;
    text-align: left;
}
table.finance_ticker td.red
{
    color: #c00;
}
table.finance_ticker td.green
{
    color: #090;
}

.pub-content h3
{
    font: bold 14px arial;
    margin: 10px 0px 5px;
    padding: 0px;
}