@CHARSET "UTF-8";

._trade_expert-01 {background:red url(/images/layout/background/tradeExpert-01.jpg) center bottom;}
._trade_expert-02 {background:green url(/images/layout/background/tradeExpert-02.jpg) center -60px;}
._trade_expert-03 {background:orange url(/images/layout/background/tradeExpert-03.jpg) center -75px;}
._premium_services {background:orange url(/images/layout/background/premium.jpg) center center;}

dl.trade-experts
{
    width: 180px;
    float: left;
}
dl.trade-experts dt,
dl.trade-experts dd
{
    margin: 5px 0px 0px;
    float: left;
}
dl.trade-experts dt
{
    padding: 3px 0px;
    width: 30px;
    margin-right: 10px;
    text-align: right;
    clear: both;
}
dl.trade-experts dd
{
    padding: 0px;
    width: 140px;
}
dl.trade-experts dt img
{
    max-width: 30px;
    max-height: 30px;
}

.spot_banner
{
    
}
.spot_banner > div
{
    border: none;
}
.spot_banner .slider
{
    position:relative;
    overflow:hidden;
    width: 568px;
    height:249px;
}
.spot_banner .slider .items {
    width:20000em;
    position:absolute;
}
.spot_banner .slider .items a {
    float: left;
    display: block;
    padding: 0px;
    margin: 0px;
}
.spot_banner .slider .items img {
    float: left;
    display: block;
    width: 568px;
    height: 229px;
}
.spot_banner .slider .nav_placer {
    margin-top: 234px;
    width:auto;
    text-align: center;
}
