@CHARSET "UTF-8";

#notfound { display: block; position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: #fff; }
.logo { display: block; position: absolute; width: 284px; height: 92px; top: 50%; left: 40%; margin: -46px 0px 0px -340px; background: url(/images/error404-emt-logo.png) no-repeat center; }
.logo > img { display: none; }
.right-half { display: block; position: absolute; top: 0px; left: 40%; right: 0px; bottom: 0px; background: #f7f7f7; border-left: solid 1px #c3c3c3; }
.right-half > div > img { display: none; }
.right-half > div > div { display: block; position: absolute; height: 21px; top: 50%; left: 10px; margin: 80px 0px 0px; }
a { display: block; float: left; margin: 0px 40px 0px 0px; font-family: verdana; color: #226ec4; font-size: 16px; line-height: 18px; text-decoration: none; }
a.back { background: url(/images/layout/icon/left-tri-arrow.png) no-repeat 0px center; padding: 0px 0px 0px 26px; }
a.home { background: url(/images/layout/icon/homepage-spec.png) no-repeat 0px center; padding: 0px 0px 0px 30px; }
a:hover { text-decoration: underline; }