@CHARSET "UTF-8";

._translation {background:red url(/images/layout/background/translation.jpg) center bottom; }

.presentation .tabs dl {
height: 344px;
}

.presentation .slidetabs {
display: none;
}

.presentation .tabs {
height: 344px;
}

.presentation h2 {
    font-family: georgia, arial, verdana;
    font-size: 28px;
    font-weight: normal;
    line-height: 34px;
    color: #c2935d;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px;
}

.presentation h3 {
    font-family: georgia, arial, verdana;
    font-size: 18px;
    font-weight: normal;
    line-height: 24px;
    color: #5b5b5a;
    overflow: hidden;
    white-space: nowrap;
    padding: 0px 0px 8px;
    background: transparent;
    border: none;
    display: block;
    clear: both;
}

.presentation p {
    color: #585756;
}

table.lang-table {
    width: 600px;
    margin: 20px;
    padding: 0px;
    border: 0px;
}
table.lang-table th,
table.lang-table td {
    border-bottom: solid 1px #e9e9e9;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
}
table.lang-table th {
    background-color: #fafbfb;
    color: #000;
    font-weight: bold;
    text-align: right;
}
table.lang-table tr.no-items td {
    border: solid 1px #f5f5f5;
    background-color: #f5f5f5;
    padding: 6px 12px;
    color: #555;
    text-align: center;
}
table.lang-table td .removelink,
table.lang-table td .removelink img {
    display: inline-block;
}

table.trans-table {
    width: 600px;
    margin: 20px;
    padding: 0px;
    border: 0px;
}
table.trans-table td.symbol {
    background: url(/images/layout/icon/blue-right.png) no-repeat center;
    width: 16px;
}
table.trans-table tr.bi-dir td.symbol {
    background: url(/images/layout/icon/grey-blue-bidir.png) no-repeat center;
}
table.trans-table td {
    border-bottom: solid 1px #e9e9e9;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
}
table.trans-table tr.no-items td {
    border: solid 1px #f5f5f5;
    background-color: #f5f5f5;
    padding: 6px 12px;
    color: #555;
    text-align: center;
}
